<h3 style="font-size:35px;">Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" style="font-size:20px;">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">
    </div>

    <div class="form-group">
      <label for="name" style="font-size:20px;">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>

    <!-- <div class="form-group">
      <label for="name">Country</label>
      <input type="text" class="form-control" id="country" required [(ngModel)]="employee.country" name="country">
    </div> -->

    <div class="form-group"> 
      <label for="name" style="font-size:20px;">Country</label>
        <select class="form-control" required [(ngModel)]="employee.country" name="country">
          <option *ngFor="let country of countries | async" [value]="country.name">
            {{country.name}}
          </option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="cancel" class="btn btn-danger" (click)="gotoList()" style="margin-left: 10px">Cancel</button>
  </form>
</div>