<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: DodgerBlue;">
  
  <button mat-icon-button [matMenuTriggerFor]="menu" style="color:white"><mat-icon>menu</mat-icon></button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="employees" class="nav-link" routerLinkActive="active">Employee</button>
  <button mat-menu-item routerLink="countries" class="nav-link" routerLinkActive="active">Country</button>
</mat-menu>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;font-size:40px;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <footer class="footer">
  <div class="container">
      <span>@Briozing</span>
  </div>
</footer> -->